// COLORS
$primary-color: #436850;
$secondary-color: #436850;
$font-family: "Montserrat", sans-serif;

$light-white: #e5e5e5;
$white-color: #ffffff;
$dark-grey: #12372a;

$dark-green-text: #12372a; // For headings

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
